* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
font-family: Roboto, Raleway;
color: black;
width: 1600px;
height: 1880px;
}
a {
text-decoration: none;
}
.top {
width: 1600px;
height: 80px;
background: #FFFFFF;
display: flex;
border-bottom: 1px solid #ECECEC;
}
.navigation {
    display: inline-block;
    position: absolute;
    width: 611px;
    height: 54px;
    left: 495px;
    top: 174px;    
}
button {
margin: 8px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color:#212121;
border: #F5F4FA;
border-radius: 4px;
min-width: 73px;
}
.navigation button:hover {
color:#FFFFFF;
background:#2196F3 ;
}
.nav-link {
width: 294px;
height: 16px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 32px 453px 853px;
}
.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
color: #000;
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
}
.logo span {
color: #2196F3;
}
nav a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;    
color: #212121;
}
nav a:hover {
color: #2196F3;
}
.contact-links a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #757575;
}
.mail-top {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
}
.tel-top {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
}
main {
background: inherit;
}
main li {
width: 370px;
height: 404px;
left: 215px;
top: 262px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.groups {
margin: 50px 215px 94px 215px;
padding: 0px;
}
.group1 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin: 0px 0px 30px 0px;
}
.group2 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin: 0px 0px 30px 0px;
}
.group3 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin: 0px 0px 0px 0px;
}
.title {
width: 322px;
height: 70px;
margin: 20px 24px 20px 24px;
}
.name {
font-weight: bold;
font-size: 18px;
line-height: 36px;    
letter-spacing: 0.06em;    
color: #212121;
}
p {
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
margin: 4px 0px 0px 0px;
}
.logo-foot {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
margin: 60px 1240px 161px 215px;
position: absolute;
}
.logo-foot span {
color: #FFFFFF;
}
.footer-container {
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;
background: #2F303A;
}
footer p {
font-family: Roboto;
font-style: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.adress {
position: absolute;
width: 231px;
height: 81px;
margin: 111px 1154px 60px 215px;
}